<!DOCTYPE html>
<html style="scroll-behavior: smooth;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/tailwind.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spinnaker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=McLaren|Patrick+Hand+SC&display=swap" rel="stylesheet">
  <title>Chatmosphere</title>
</head>

<body class="bg-cover bg-center bg-fixed overflow-x-hidden" style="background-image: url(./images/background3.jpg)">
  {{{body}}}

</body>

</html>