<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Congratulations!</h2>
      <h5>Welcome {{{user}}}, You have logged in successfully.</h5>
      <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
      <br>
      <div class="card">
        <img class="user-img" src="..." alt="user img">
        <div class="card-body">
          <h5 class="card-title">Your Info</h5>
          <div class="card-text">
            <ul id="userName"></ul>
            <ul id="email"></ul>
            <ul id="firstName"=></ul>
            <ul id="lastName"=></ul>
            <ul id="about"></ul>
          </div>
          <a href="#" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>