<div class="h-screen w-screen bg-cover bg-center bg-fixed m-0"
  style="font-family: 'Cabin Sketch', cursive;background-image: url(/images/background.jpg)">

  <p class="text-center text-5xl lg:text-6xl py-10" style="font-family: 'Fredericka the Great', cursive;">
    Chatmosphere</p>

  <p class="text-center text-3xl lg:text-5xl pb-10" style="font-family: 'Fredericka the Great', cursive;">Trust us,
    it's better than Facebook</p>

  <p class="text-center text-red-700 text-2xl mb-5">{{{message}}}</p>

  <div class="w-screen flex justify-center">

    <div id="login-signup" class="rounded overflow-hidden w-4/5 lg:w-1/5 shadow-lg">

      <ul id="links" class="flex text-xl">
        <li class="flex-1 text-center rounded-t active bg-white -mb-2"><a href="#log-in-form">Log In</a></li>
        <li class="flex-1 text-center rounded-t"><a href="#sign-up-form">Sign Up</a></li>
      </ul>

      <div id="content" class="text-center bg-white">
        {{!-- log in form --}}
        <div id="log-in-form" class="tab active">
          <form id="login" name="login" method="post" action="login">
            <div class="container">
              <div id="login-section1" class="h-64">
                <div class="flex py-12">
                  <p class="text-xl text-blue-500 w-1/2">
                    Username: </p>
                  <input
                    class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
                    type="text" name="username" placeholder="user123" id="exampleInputUserID1" required>
                </div>
                <div class="flex py-12">
                  <p class="text-xl text-blue-500 w-1/2">
                    Password: </p>
                  <input
                    class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
                    type="password" name="password" placeholder="qwerty123" id="exampleInputPassword1" required>
                </div>
              </div>
              <div id="login-section2" class="h-64">
                <button type="submit"
                  class="text-xl tracking-wider bg-black hover:bg-blue-300 text-white py-2 px-4 mb-10 border border-white hover:border-transparent rounded">Let's
                  Chat!</button>
              </div>
            </div>
          </form>
        </div>

        {{!-- sign up form --}}
        <div id="sign-up-form" class="tab">
          <form id="signup" name="signup" method="post" action="signup">
            <div class="container">
              <div id="signup-section1" class="h-64">
                <div class="flex py-12">
                  <p class="text-xl text-blue-500 w-1/2">
                    Username: </p>
                  <input
                    class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
                    type="text" name="username" placeholder="user123" id="exampleInputUserID2" required>
                </div>
                <div class="flex py-12">
                  <p class="text-xl text-blue-500 w-1/2">
                    Password: </p>
                  <input
                    class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
                    type="password" name="password" placeholder="qwerty123" id="exampleInputPassword2" required>
                </div>
              </div>
              <div id="signup-section2" class="h-64">
                <div class="flex py-12">
                  <p class="text-xl text-blue-500 w-1/2">
                    Confirm Password: </p>
                  <input
                    class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
                    type="password" name="password2" placeholder="qwerty123... again" id="exampleInputPassword2.5"
                    required>
                </div>

                <p>By creating an account you agree to our <a href="#">Terms of Service</a>.</p>

                <button type="submit"
                  class="text-xl tracking-wider bg-black hover:bg-blue-300 text-white py-2 px-4 mb-10 border border-white hover:border-transparent rounded">Let's
                  Go!</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/assets/js/login.js"></script>