<p class="text-center text-4xl">Welcome to Chatmosphere!</p>
<p class="text-center text-3xl">Please tell us more about you...</p>

<form id="tellusmore" name="tellusmore">
    <p class="text-xl text-blue-500 w-1/2">
        First Name: </p>
    <input
        class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
        type="text" name="firstname" id="firstname" placeholder="John" required>
    </div>
    <p class="text-xl text-blue-500 w-1/2">
        Last Name: </p>
    <input
        class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
        type="text" name="lastname" id="lastname" placeholder="Smith" required>
    </div>
    <p class="text-xl text-blue-500 w-1/2">
        Email Address: </p>
    <input
        class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
        type="email" name="email" id="email" placeholder="johnsmith@gmail.com" required>
    </div>
    <p class="text-xl text-blue-500 w-1/2">
        About You: </p>
    <textarea
        class="text-l appearance-none bg-transparent border-b-2 w-full text-gray-900 py-1 mx-4 leading-tight focus:outline-none focus:border-orange-300"
        type="text" name="bio" id="bio" placeholder="Tell us a bit more about yourself" required> </textarea>
    </div>
    <div id="submit" class="h-64">
        <button type="submit"
            class="text-xl tracking-wider bg-black hover:bg-blue-300 text-white py-2 px-4 mb-10 border border-white hover:border-transparent rounded">Go</button>
    </div>
</form>


<script>
    $(document).ready(function () {

        $(document).on("click", "#submit", function (e) {
            e.preventDefault();
            var userData = {
                firstname: $("#firstname").val().trim(),
                lastname: $("#lastname").val().trim(),
                email: $("#email").val().trim(),
                bio: $("#bio").val().trim(),
            }
            console.log(userData);
            updateUser(userData);
        });

        function updateUser(newData) {
            $.ajax({
                method: "PUT",
                url: "/api/tellusmore",
                data: newData
            }).then(function (req, res) {
                console.log(res)
                try { window.location.replace("/home"); }
                catch (e) { window.location = "/home"; }
            })
        }
    })
</script>

