@import url("https://fonts.googleapis.com/css?family=Lato");
.home {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-container {
  width: 300px;
  height: 500px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-container .top-big {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #2196F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-container .top-big .profile-img-circle {
  padding: 3px;
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  -webkit-transform: translateY(48px);
          transform: translateY(48px);
}

.profile-container .top-big .profile-img-circle img {
  border-radius: 100%;
}

.profile-container .profile-content {
  padding-top: 48px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container .profile-content .user {
  margin: 0;
  color: #616161;
}

.profile-container .profile-content .display {
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.profile-container .profile-content .about {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  padding-left: 10%;
  padding-right: 10%;
  color: rgba(0, 0, 0, 0.6);
}

.profile-container .profile-content .chat-button {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: #252424;
}

.profile-container .profile-content .signOut-button {
  position: absolute;
  bottom: 28px;
  border: 0;
  background: #2196F3;
  color: whitee;
  padding: 6px 12px;
  font-weight: 300;
  -webkit-transition: .10s all ease-inout;
  transition: .10s all ease-inout;
}

.profile-container .profile-content .signOut-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.profile-container .profile-content .signOut-button:focus {
  outline: none;
}
/*# sourceMappingURL=homeStyle.css.map */